{
	"presets": ["env", "react"],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"babel-plugin-styled-components",
		"transform-runtime",
		[
			"styled-components",
			{
				"ssr": true
			}
		]
	]
}